<html>
<body>
<form>
    First Name:<br>
    <input type="text" name="firstname" value="Mohammed Ather">
    <br>Last Name:<br>
    <input type="text" name="lastname" value="Shareef">
    <br> Male: <input type="radio" name="group">
    Female: <input type="radio" name="group">
    <br>Favourite color:
    <br> Green: <input type="radio" name="g">
    Blue: <input type="radio" name="g">
    Red: <input type="radio" name="g">
    White: <input type="radio" name="g">
    <br>
    <textarea rows="10" cols="50">
        Web Page design is Cool !!
    </textarea>
    <br>I own a Car <input type="checkbox">
    <br>I own a Bike <input type="checkbox">
    <br>
    What do you want to have<br>
    <select>
        <option value="breakfast">Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="Dinner">Dinner</option>

    </select>


    <br>
    <br><input type="submit" value="Submit Me (Click Me)">

</form>
</body>
</html>